<div class="cargo-port-platform">
    <div class="vertical-ships" cdkDropList cdkDropListSortingDisabled>
        <div class="ship" *ngFor="let shipBlocks of verticalShips">
            <bs-ship
                cdkDrag
                (cdkDragStarted)="dragStarted($event, shipBlocks, shipBlock)"
                (cdkDragEntered)="dragStarted($event, shipBlocks, shipBlock)"
                *ngFor="let shipBlock of shipBlocks"
                [currentShipBlock]="shipBlock"
                [cdkDragData]="{shipBlocks,isHorizontal: true}"
                [shipBlocks]="shipBlocks">
                <div *cdkDragPreview>
                    <bs-ship
                        *ngFor="let shipBlock of shipBlocks"
                        [currentShipBlock]="shipBlock"
                        [shipBlocks]="shipBlocks">
                    </bs-ship>
                </div>
            </bs-ship>
        </div>
    </div>
    <div class="horizontal-ships">
        <div class="ship" *ngFor="let shipBlocks of horizontalShips"  cdkDropList cdkDropListSortingDisabled>
            <bs-ship
                cdkDrag
                (cdkDragStarted)="dragStarted($event, shipBlocks, shipBlock)"
                (cdkDragEntered)="dragStarted($event, shipBlocks, shipBlock)"
                *ngFor="let shipBlock of shipBlocks"
                [cdkDragData]="{shipBlocks,isHorizontal: false}"
                [currentShipBlock]="shipBlock"
                [shipBlocks]="shipBlocks">
                <div class="horizontal-ships-preview" *cdkDragPreview>
                    <bs-ship
                        *ngFor="let shipBlock of shipBlocks"
                        [currentShipBlock]="shipBlock"
                        [shipBlocks]="shipBlocks">
                    </bs-ship>
                </div>
            </bs-ship>
        </div>
    </div>
</div>
