<div class="cargo-port-platform">
    <div class="vertical-ships">
        <div class="ship" *ngFor="let ship of verticalShips">
            <bf-ship
                [isShip]="true" 
                *ngFor="let box of getArray(ship.size)">
            </bf-ship>
        </div>
    </div>
    <div class="horizontal-ships">
        <div class="ship" *ngFor="let ship of horizontalShips">
            <bf-ship
                [isShip]="true" 
                *ngFor="let box of getArray(ship.size)">
            </bf-ship>
        </div>
    </div>
</div>
