.cargo-port-platform {

    .vertical-ships {
        display: flex;
    }
    
    .horizontal-ships {
        display: flex;
        flex-flow: column;

        .ship {
            display: flex;
        }
    }

    .ship {
        padding: 5px;
    }
}
