<div class="cargo-port-platform">
    <div class="vertical-ships">
        <div class="ship" *ngFor="let shipBlocks of horizontalShips">
            <bf-ship
                *ngFor="let shipBlock of shipBlocks"
                [currentShipBlock]="shipBlock"
                [shipBlocks]="shipBlocks">
            </bf-ship>
        </div>
    </div>
    <div class="horizontal-ships">
        <div class="ship" *ngFor="let shipBlocks of verticalShips">
            <bf-ship
                *ngFor="let shipBlock of shipBlocks"
                [currentShipBlock]="shipBlock"
                [shipBlocks]="shipBlocks">
            </bf-ship>
        </div>
    </div>
</div>
