<form name="playerDetails" ngForm #playerDetails="ngForm" (ngSubmit)="submit()" *ngIf="players.length">
    <h2>
        Enter Player Details
    </h2>
    <mat-form-field appearance="fill">
        <mat-label>Player 1</mat-label>
        <input matInput name="player1" placeholder="Enter Player 1 name" [(ngModel)]="players[0].player" required="" minlength="4" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Player 2</mat-label>
        <input matInput name="player2" placeholder="Enter Player 2 name" [(ngModel)]="players[1].player" required="" minlength="4" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="playerDetails.invalid">
        Save
    </button>
</form>