<ng-container *ngIf="(players$ | async) as players">
    <div *ngIf="(playerToReset$ | async) as playerToReset; else grid" class="player-to-reset" cdkDropListGroup>
        <h3>{{ playerToReset.player }}</h3>
        <bs-cargo-port></bs-cargo-port>
        <bs-battle-grid
            [attack]="playerToReset.attack"
            [positions]="playerToReset.positions">
        </bs-battle-grid>
    </div>
    <ng-template #grid>
        <div class="playground" *ngIf="currentPlayer$ | async as currentPlayer">
            <mat-card
                class="playground-field"
                *ngFor="let player of players"
                [ngClass]="{ 
                    overlay: isCurrentPlayer(player, currentPlayer),
                    'mat-elevation-z9': !isCurrentPlayer(player, currentPlayer)
                }">
                <mat-card-title>
                    {{ player.player || 'No Name'}}
                </mat-card-title>
                <bs-battle-grid
                    [attack]="player.attack"
                    (onShot)="shot($event, player.positions)"
                    [positions]="player.positions">
                </bs-battle-grid>
                <bs-configurations
                    [configuration]="getConfiguration(player.id)"
                ></bs-configurations>
            </mat-card>
        </div>
    </ng-template>
</ng-container>