<ng-container *ngIf="(players$ | async) as players">
    <div *ngIf="(playerToReset$ | async) as playerToReset; else grid" class="player-to-reset">
        <h3>{{ playerToReset.player }}</h3>
        <bf-cargo-port></bf-cargo-port>
        <bf-battle-grid
            [attack]="playerToReset.attack"
            [positions]="playerToReset.positions">
        </bf-battle-grid>
    </div>
    <ng-template #grid>
        <div class="playground" *ngIf="currentPlayer$ | async as currentPlayer">
            <mat-card
                class="playground-field"
                *ngFor="let player of players"
                [ngClass]="{ 
                    overlay: isCurrentPlayer(player, currentPlayer),
                    'mat-elevation-z9': !isCurrentPlayer(player, currentPlayer)
                }">
                <mat-card-title>
                    {{ player.player || 'No Name'}}
                </mat-card-title>
                <bf-battle-grid
                    [attack]="player.attack"
                    [positions]="player.positions">
                </bf-battle-grid>
                <bf-configurations
                    [configuration]="getConfiguration(player.id)"
                ></bf-configurations>
            </mat-card>
        </div>
    </ng-template>
</ng-container>