bf-cargo-port {
    width: 300px;
}

.playground {
    display: flex;
    padding: 10px;

    .playground-field {
        margin: 16px;
    }

    .overlay {
        opacity: .2;
        cursor: not-allowed;

        bf-battle-grid {
            pointer-events: none;
        }
    }
}

.player-to-reset {
    display: flex;
    flex-flow: row nowrap;
}
