<div class="player-setup">
    <h2>{{ player.player }}</h2>
    <div class="player-setup-content">
        <bs-cargo-port></bs-cargo-port>
        <bs-battle-grid
            [attack]="player.attack"
            [highlight]="highlight"
            [positions]="player.positions"
            (onDragEntered)="dragEntered($event)"
            (onDragExited)="dragExited($event)"
            (onDragDropped)="dragDropped($event)"
            [positions]="player.positions">
        </bs-battle-grid>
    </div>
    <button type="button" mat-button (click)="save()">
        Save
    </button>
</div>
