<div class="battle-grid">
    <div class="battle-grid-row" *ngFor="let battleGrid of battleGrids; let outerIndex = index;">
        <div *ngFor="let col of battleGrid; let innerIndex = index;">
            <bs-ship
                cdkDropList
                cdkDropListSortingDisabled
                [highlight]="highlight"
                [attackStatus]="attack[outerIndex + ',' + innerIndex]"
                [shipBlocks]="map.get(outerIndex + ',' + innerIndex)!"
                [cdkDropListEnterPredicate]="canDrop"
                (cdkDropListEntered)="onDragEntered.emit({ $event, currentPosition: [outerIndex, innerIndex]})"
                (cdkDropListExited)="onDragExited.emit({$event})"
                (cdkDropListDropped)="onDragDropped.emit({ $event, currentPosition: [outerIndex, innerIndex]})"
                [currentShipBlock]="[outerIndex, innerIndex]"
                (onShot)="onShot.emit($event)"
                [isPlayMode]="true">
            </bs-ship>
        </div>
    </div>
</div>
                <!-- cdkDrag [cdkDragData]="[outerIndex, innerIndex]" -->

<!-- cdkDragBoundary=".battle-grid" cdkDropListSortingDisabled [cdkDropListDisabled]="true" -->