<div class="battle-grid">
    <div class="battle-grid-row" *ngFor="let battleGrid of battleGrids; let outerIndex = index;">
        <div *ngFor="let col of battleGrid; let innerIndex = index;">
            <bs-ship
                [attackStatus]="attack[outerIndex + ',' + innerIndex]"
                [shipBlocks]="[]"
                [currentShipBlock]="[outerIndex, innerIndex]"
                (onShot)="shot($event)"
                [isPlayMode]="true">
            </bs-ship>
        </div>
    </div>
</div>